$primaryC: #FFB96C;
@mixin flexSB {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flexAIC {
    display: flex;
    align-items: center;
    flex-direction: column;
}

* {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: #fff;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: #2D2E2D;
    box-sizing: border-box;
}

.container {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1274px;
    padding: 15px;
    &__block {
        margin-top: 54px;
    }
}

@font-face {
    font-family: "Nixie One";
    font-style: normal;
    font-weight: 400;
    /* Браузер сначала попробует найти шрифт локально */
    src: url("../fonts/NixieOne-Regular.ttf") format("woff2");
}